html {
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  position: relative;
}
.indexbg {
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
}
.indexbg > img {
  width: 100%;
  height: 100%;
}
.wrap {
  width: 100%;
  height: 100%;
}
.wrap img {
  width: 100%;
}
.box span {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  cursor: pointer;
  border-radius: 50%;
  animation: animate 2s linear infinite;
  animation-delay: calc(0.5s * var(--i));
}
.box:hover span {
  border: 1px solid transparent;
  background-color: rgba(240, 102, 95, 0.5);
  opacity: 0;
}
.wrap > img {
  width: 100%;
  height: 100%;
}
@keyframes mymove {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(8px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes myscale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes animate {
  0% {
    width: 0;
    height: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    width: 100%;
    height: 40%;
    opacity: 0;
  }
}
.dl {
  width: 10%;
  height: 19%;
  position: absolute;
  right: 3%;
  top: 29%;
}
.dl .name {
  position: absolute;
  right: 3%;
  top: 53%;
  color: #d69563;
  font-size: 0.18rem;
  width: 200%;
}
.dl .name p {
  padding-left: 33%;
}
.dl .wrap {
  animation: mymove 1.5s infinite ease-in-out;
}
.hp {
  width: 4%;
  height: 12%;
  position: absolute;
  left: 84%;
  top: 16.5%;
}
.hp .name {
  position: absolute;
  left: 120%;
  top: 53%;
  color: #d69563;
  font-size: 0.18rem;
  width: 200%;
}
.hp .wrap {
  animation: mymove 1.5s 1s infinite ease-in-out;
}
.jz {
  width: 19%;
  height: 32%;
  position: absolute;
  left: 49%;
  top: 27%;
}
.jz .name {
  position: absolute;
  left: 24%;
  top: -7%;
  color: #d69563;
  font-size: 0.18rem;
}
.jz .wrap {
  animation: mymove 1.5s 0.5s infinite ease-in-out;
}
.yt {
  width: 13%;
  height: 17%;
  position: absolute;
  right: 14%;
  top: 54%;
  z-index: 6;
}
.yt .name {
  position: absolute;
  left: -32%;
  top: 51%;
  color: #D69563;
  font-size: 0.18rem;
}
.yt .wrap {
  animation: mymove 1.5s 1.5s infinite ease-in-out;
}
.qlh {
  width: 23%;
  height: 29%;
  position: absolute;
  left: 19.5%;
  top: 46%;
}
.qlh .name {
  position: absolute;
  left: 98%;
  top: 51%;
  color: #D69563;
  font-size: 0.18rem;
  width: 100%;
}
.qlh .wrap {
  animation: mymove 1.5s 0.75s infinite ease-in-out;
}
.light {
  background-color: rgba(231, 227, 227, 0.2);
}
.wrap_hover {
  border: 1px solid transparent;
  background-color: rgba(240, 102, 95, 0.5);
  opacity: 0;
}
.name_scale {
  animation: myscale 1.5s infinite ease-in-out;
}
.dl:hover .name,
.hp:hover .name,
.qlh:hover .name,
.yt:hover .name,
.jz:hover .name {
  animation: myscale 1.5s infinite ease-in-out;
}
