.title {
  position: fixed;
  top: 0.3rem;
  right: 0.31rem;
  color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.title .title_cn {
  height: 0.54rem;
  font-size: 0.52rem;
  font-family: Microsoft YaHei;
  font-weight: bold;
  color: #FFFFFF;
  background: linear-gradient(0deg, #AAD4FE 0%, #FFFFFF 99.58496094%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0px 0.03rem 4rem #0C55DF;
}
.title .title_en {
  padding-top: 0.1rem;
  height: 0.18rem;
  font-size: 0.225rem;
  font-family: Microsoft YaHei;
  font-weight: bold;
  color: #FFF;
}
.small_title {
  color: #FFF;
  height: 0.57rem;
}
.small_title p.cn {
  font-size: 0.22rem;
  font-family: Microsoft YaHei;
  font-weight: bold;
  line-height: 0.31rem;
}
.small_title p.en {
  font-size: 0.2rem;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: #FFF;
  line-height: 0.26rem;
}
.left {
  position: fixed;
  left: 0;
  top: 0;
  min-width: 5.1rem;
  width: 28.3%;
  height: 100%;
  box-sizing: border-box;
  padding: 0.3rem 0.3rem 0;
}
.left_one {
  width: 4.82rem;
  padding-bottom: 0.15rem;
}
.left_one li.wrap {
  margin: auto;
  width: 4.82rem;
  height: 1.1rem;
  background: url(../img/52.png) no-repeat center;
  background-size: 4.28rem 1rem;
}
.left_one li.wrap li {
  float: left;
}
.left_one li.in {
  width: 1.55rem;
  height: 1.1rem;
  background: url(../img/园区.png) no-repeat center;
  background-size: 1.15rem 0.8rem;
}
.left_one li.name {
  width: 1.8rem;
  height: 1.1rem;
  text-align: center;
  line-height: 1.1rem;
  font-size: 0.2rem;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: #BCC3D6;
}
.left_one li.text {
  width: 1.2rem;
  height: 1.1rem;
  text-align: center;
  line-height: 1.1rem;
  font-size: 0.22rem;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: #54DEFE;
}
.left_two {
  width: 4.82rem;
  height: 29%;
}
.left_two li {
  height: 0.4rem;
}
.left_two li div {
  line-height: 0.28rem;
  display: inline-block;
  color: #BCC3D6;
  height: 0.28rem;
}
.left_two .item_name {
  width: 3.4rem;
  font-size: 0.2rem;
  font-family: Microsoft YaHei;
  font-weight: 400;
}
.left_two .item_time {
  font-size: 0.2rem;
  font-family: Microsoft YaHei;
  font-weight: 400;
}
.left_two ul.list {
  padding: 0.15rem 0 0 0.27rem;
  height: 1.85rem;
  overflow: hidden;
}
.left_three {
  width: 4.82rem;
  height: 26.5%;
}
.left_three .con {
  width: 4.72rem;
  padding: 0.1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left_three li .up {
  width: 1.05rem;
  height: 1.05rem;
  border-radius: 50%;
  background: url("../img/1193.png") no-repeat;
  background-size: 1.05rem 1.05rem;
  position: relative;
}
.left_three li .down {
  width: 1.3rem;
  height: 1.3rem;
  position: absolute;
  bottom: -0.7rem;
  left: -0.09rem;
  background: url("../img/574.png") no-repeat center;
  background-size: 1.3rem 1.3rem;
  text-align: center;
  color: #BCC3D6;
  line-height: 1.8rem;
  font-size: 0.2rem;
}
.left_three li.two .up {
  background: url("../img/11194.png") no-repeat;
}
.left_three li.two .wave {
  background: linear-gradient(145deg, #41f0d9 10%, transparent 60%);
}
.wave {
  position: absolute;
  left: 9%;
  top: 10.5%;
  z-index: 4;
  border: 1px solid silver;
  width: 0.85rem;
  height: 0.85rem;
  border-radius: 50%;
  line-height: 50px;
  margin: 0 auto;
  font-size: 14px;
  text-align: center;
  overflow: hidden;
  animation: water-wave linear infinite;
  background: linear-gradient(145deg, #41adf0 10%, transparent 60%);
}
.wave p {
  width: 100%;
  color: #FFF;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: #FFFFFF;
  line-height: 0.22rem;
}
.wave p i {
  font-size: 0.3rem;
}
.wave1 {
  position: absolute;
  top: 40%;
  left: -15%;
  background: #037bb8;
  opacity: 0.7;
  width: 200%;
  height: 200%;
  border-radius: 40%;
  animation: inherit;
  animation-duration: 5s;
}
.wave2 {
  position: absolute;
  top: 40%;
  left: -35%;
  background: #0eaffe;
  opacity: 0.7;
  width: 150%;
  height: 150%;
  border-radius: 35%;
  animation: inherit;
  animation-duration: 4s;
}
.wave3 {
  position: absolute;
  top: 50%;
  left: -35%;
  background: #00c4a3;
  opacity: 0.3;
  width: 200%;
  height: 200%;
  border-radius: 30%;
  animation: inherit;
  animation-duration: 4s;
}
.wave4 {
  position: absolute;
  top: 50%;
  left: -35%;
  background: #2dc5ac;
  opacity: 0.5;
  width: 200%;
  height: 200%;
  border-radius: 30%;
  animation: inherit;
  animation-duration: 5s;
}
.wave5 {
  position: absolute;
  top: 50%;
  left: -35%;
  background: #00d7fd;
  opacity: 0.3;
  width: 200%;
  height: 200%;
  border-radius: 40%;
  animation: inherit;
  animation-duration: 7s;
}
.wave6 {
  position: absolute;
  top: 40%;
  left: -35%;
  background: #367fec;
  opacity: 0.7;
  width: 150%;
  height: 150%;
  border-radius: 35%;
  animation: inherit;
  animation-duration: 5s;
}
@keyframes water-wave {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.right {
  min-width: 4.8rem;
  position: fixed;
  right: 0;
  bottom: 0;
  height: 84%;
  width: 27.3%;
}
.right_one {
  width: 100%;
  height: 22%;
}
.right_one .con {
  padding: 0.25rem 0.3rem 0 0.3rem;
  box-sizing: border-box;
  height: calc(100% - 0.57rem);
}
.right_one ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.right_one li {
  width: 2rem;
  height: 0.78rem;
  background: url("../img/圆角矩形.png") no-repeat;
  background-size: 2rem 0.78rem;
  position: relative;
}
.right_one li .one_left,
.right_one li .two_left {
  display: inline-block;
  width: 0.7rem;
  height: 0.78rem;
  background: url("../img/企业1.png") no-repeat right;
  background-size: 0.35rem 0.35rem;
}
.right_one li .one_right {
  display: inline-block;
  width: 1rem;
  height: 0.78rem;
  color: #FFF;
  text-align: center;
  position: absolute;
  left: 0.8rem;
}
.right_one li .one_right i,
.right_one li .one_right span {
  display: inline-block;
  width: 100%;
}
.right_one li .one_right i {
  margin-top: 0.13rem;
  font-size: 0.2rem;
  font-family: Microsoft YaHei;
  font-weight: 400;
  line-height: 0.3rem;
}
.right_one li .one_right span {
  font-size: 0.22rem;
  font-family: Microsoft YaHei;
  font-weight: bold;
  color: #30D7E1;
}
.right_one li .one_right span em {
  font-size: 0.14rem;
}
.right_one li .two_left {
  background: url("../img/招商.png") no-repeat right;
  background-size: 0.35rem 0.35rem;
}
.right_two {
  width: 100%;
  height: 34%;
}
.right_two .right_left {
  position: relative;
}
.right_two .in {
  position: absolute;
  left: 0;
  top: 0;
  width: 1.85rem;
  height: 1.85rem;
  background-color: #7c7676;
}
.right_two .out {
  position: absolute;
  left: 0;
  top: 0;
  width: 2rem;
  height: 2rem;
  background-color: rgba(194, 146, 146, 0.2);
}
.right_three {
  width: 100%;
}
