.cen-top {
  position: relative;
  text-align: center;
}
.park-img {
  width: 100%;
  max-width: 600px;
}
.cen-count {
  position: relative;
  z-index: 2;
}
.cen-title {
  width: 338px;
  height: 67px;
  background: url("../img/park_title.png");
  background-size: 100% 100%;
  justify-content: flex-start;
  box-sizing: border-box;
  padding: 0 23px;
  padding-top: 15px;
  position:absolute;
  left: 0;
  top: 0;
  z-index: 10;
}
.location-img {
  width: 20px;
  margin-right: 10px;
}
.park-name {
  font-size: 20px;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: #ffffff;
}
