// 导入基础样式
@import (reference) "base.less";

.supermap {
  width: 100vw;
  height: 100vh;
  background: url("../img//bg.jpg") no-repeat;
  background-size: 100% 100%;
}

.datav {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;

  .left {
    position: absolute;
    left: 0;
    top: 0;
    width: 5.2rem;
    height: 100vh;
    background-color: rgba(236, 233, 233, 0.3);
  }

  .title {
    position: absolute;
    top: 0.3rem;
    right: 0.31rem;
    color: extract(@textCol, 1);
    .flex;
    flex-direction: column;
    text-align: center;

    .title_cn {
      height: 0.54rem;
      font-size: 0.52rem;
      font-family: Microsoft YaHei;
      font-weight: bold;
      color: #FFFFFF;
      background: linear-gradient(0deg, #AAD4FE 0%, #FFFFFF 99.5849609375%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      text-shadow: 0px 0.03rem 4rem #0C55DF;
    }

    .title_en {
      padding-top: 0.1rem;
      height: 0.18rem;
      font-size: 0.19rem;
      font-family: Microsoft YaHei;
      font-weight: bold;
      color: extract(@textCol, 1);

    }

  }

  .right {
    width: 4.88rem;
    height: 3.65rem;
    background: #0B5EF3;
    opacity: 0.2;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: rgb(156, 117, 117);
  }
}
